<nav class="navbar navbar-light">
  <div class="container">

    <a class="navbar-brand"
      ui-sref="app.home"
      ng-bind="::$ctrl.appName | lowercase">
    </a>

    <!-- Show this for logged out users -->
    <ul class="nav navbar-nav pull-xs-right">
    <li>
    {{$ctrl.loginBool}}
    </li>
      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.home">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.login">
          Sign In
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          ui-sref-active="active"
          ui-sref="app.register">
          Sign Up
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          ng-click="$ctrl.logOut()">
          Log out
        </a>
      </li>
    </ul>
  </div>
</nav>
