<div class="page-header">
    <h3>
        <a ng-show="$ctrl.post.link" href="{{$ctrl.post.link}}">
            {{$ctrl.post.title}}
        </a>
        <span ng-hide="$ctrl.post.link">
            {{$ctrl.post.title}}
        </span>
    </h3>
</div>
<div ng-repeat="comment in $ctrl.post.comments | orderBy:'-upvotes'">
    <button class="btn-default" ng-click="$ctrl.incrementUpvotes(comment)">^</button>
    {{comment.upvotes}} - by {{comment.author}}
    <span style="font-size:20px; margin-left:10px;">
      {{comment.body}}
    </span>
</div>

<form ng-submit="$ctrl.addComment()"
    show-authed="true"
    style="margin-top:30px;">
    <h3>Add a new comment</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Comment"
      ng-model="$ctrl.formData.comment"></input>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>
<div show-authed="false">
    <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
</div>